.portfolio__container {
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
    display: flex;
}

.portfolio__box {
    align-items: center;
    justify-content: center;
}

.portfolio__title {
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: var(--h3-font-size);
    margin-bottom: var(--mb-1);
    font-weight: var(--font-medium);
}

.portfolio__image {
    border-radius: 10px;
    width: 300px;
    height: 300px;
    object-fit: cover;
}

@media screen and (max-width: 900px) {
    .portfolio__container {
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        justify-content: center;
    }

    .portfolio__box {
        align-items: center;
        justify-content: center;
    }
}

@media screen and (max-width: 576px) {
    .portfolio__container {
        grid-template-columns: max-content;
        align-items: center;
        justify-content: center;
    }

    .portfolio__box {
        align-items: center;
        justify-content: center;
    }
  }

@media screen and (max-width: 350px) {
    .portfolio__container {
        grid-template-columns: max-content;
        align-items: center;
        column-gap: 1rem;
    }
}